@import 'tailwindcss';
@import './text-auto.css'; /* auto text colors could be overwriten by tailwind more specific classes*/

@theme {
  --color-primary: 'var(--color-primary)';
  --color-primary-1: 'var(--color-primary-1)';
  --color-primary-2: 'var(--color-primary-2)';
  --color-primary-3: 'var(--color-primary-3)';
  --color-primary-4: 'var(--color-primary-4)';
  --color-primary-5: 'var(--color-primary-5)';
  --color-primary-6: 'var(--color-primary-6)';
  --color-primary-7: 'var(--color-primary-7)';
  --color-primary-8: 'var(--color-primary-8)';
  --color-primary-9: 'var(--color-primary-9)';
  --color-primary-10: 'var(--color-primary-10)';
  --color-accent: 'var(--color-accent)';
  --color-accent-1: 'var(--color-accent-1)';
  --color-accent-2: 'var(--color-accent-2)';
  --color-accent-3: 'var(--color-accent-3)';
  --color-accent-4: 'var(--color-accent-4)';
  --color-accent-5: 'var(--color-accent-5)';
  --color-accent-6: 'var(--color-accent-6)';
  --color-accent-7: 'var(--color-accent-7)';
  --color-accent-8: 'var(--color-accent-8)';
  --color-accent-9: 'var(--color-accent-9)';
  --color-accent-10: 'var(--color-accent-10)';
}

::-webkit-scrollbar {
  display: none;
}

button {
  @apply transition-colors;
}

h1,
h2 {
  @apply font-light;
}

.external-link {
  @apply text-accent-6;
}

input[type='range']::-webkit-slider-runnable-track {
  background-color: var(--color-primary-3);
  height: 2px;
}

input[type='range']::-webkit-slider-thumb {
  margin-top: -7px;
}
